{
    "sources":
[
 {
    "name": "{source_name}",
    "app_creation_workflow": "account_authorization",
    "source_type_name": "azure"
  }
],
"authentications":
[],
"applications":[
{     
    "application_type_id": 5,
    "source_name": "{source_name}"
}
]
}